@{
    ViewData["Title"] = "🎫Status: Logged in";
}
<h2>*************************************</h2>
<h3>@ViewData["Title"]</h3>
<h2>*************************************</h2><hr />
<h13>🖼🏀</h13>
<hr />
<h3>Click the "Product" link to see the details of our products.</h3>
